{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<div class="container mt-4">
    <h2 class="text-white">Busca publicaciones por palabras:</h2>
    <hr class="text-white" style="height: 5px;">
    <form class="col-md-6 mx-auto" method="get" action="{% url 'Busqueda' %}">
        <input class="w-100 m-4" type="text" name="q" placeholder="Buscar..." value="{{ request.GET.q }}">
        <button type="submit" class="btn btn-light d-block mx-auto mb-4">Buscar</button>
    </form>
    <ul>
        {% for publicacion in publicaciones %}
        <li class="list-group-item">
            <h4>{{ publicacion.autor_nombre }}</h4>
            <p>{{ publicacion.contenido }}</p>
            <p>Fecha de publicación: {{ publicacion.fecha_publicacion }}</p>
        </li>
        {% empty %}
            <h3 class="text-white text-center m-4">No se encontraron resultados.</h3>
        {% endfor %}
    </ul>
</div>

{% endblock %}