
{% load static %}

{% block contenidoQueCambia %}

<!-- formulario_comentario.html -->

<form method="post" action="{% url 'crear_comentario' %}" id="comentario-form-{{ publicacion.id }}" onsubmit="enviarComentario({{ publicacion.id }}); return false;" style="width: 90%; max-width: 600px; padding: 20px; background-color: #556; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);">
    {% csrf_token %}
    <input type="hidden" name="publicacion_id" value="{{ publicacion.id }}">
    {{ comentario_form.as_p }}
    <input type="submit" value="Publicar Comentario">
</form>

{% endblock %}