{% extends 'AppCoder/padre.html' %}

{% block contenidoQueCambia%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body style="background-color: rgb(134, 185, 245);">
  <div class="container mt-4">
    <h2 class="text-white">Inicia Sesión</h2>
    <hr class="text-white" style="height: 5px;">
    {%if not user.is_authenticated %}
    <form action="/AppCoder/login" method="POST" class="mx-auto mt-4 p-3 mb-4" style="width: 90%; max-width: 600px; padding: 20px; background-color: #646b63; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Iniciar sesión" class="btn btn-light">
    </form>
    {% endif %}
    {% if mensaje %}
    <div class="mensaje">
      {{ mensaje }}
    </div>
    {% endif %}
  </div>
</body>

</html>
{% endblock%}