{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    <div class="container mt-5">
        <h2 class="text-white">Muro</h2>
        <h5 class="text-white">Aquí podrás ver todas tus publicaciones</h5>
        <hr class="text-white" style="height: 5px;">
        <ul class="list-group m-5">
            {% for publicacion in publicaciones %}
                {% if publicacion.autor_nombre == user %}
                <li class="list-group-item">
                    <div class="post-container">
                        <div class="post-header">
                            <h4>{{ publicacion.autor_nombre }}</h4>
                        <p class="post-date">Fecha de publicación: {{ publicacion.fecha_publicacion }}</p>
                        </div>
                    <div class="post-content">
                            {{ publicacion.contenido }}
                    </div>
                        <!-- Mostrar los comentarios relacionados a esta publicación -->
                        <hr>
                        <h4>Comentarios</h4>
                        <ul class="comment-list">
                            {% for comentario in publicacion.comentario_set.all %}
                            <li class="comment-item">
                                <h5>{{ comentario.autor_nombre }}</h5>
                                <p class="comment-text">{{ comentario.contenido }}</p>
                                <p class="comment-date">Fecha de comentario: {{ comentario.fecha_comentario }}</p>
                </li>
                {% endfor %}
                </ul>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

{% endblock %}