{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    <div class="container mt-4">
        <h2 class="text-white">Crea una publicación</h2>
        <hr class="text-white" style="height: 5px;">
    </div>
    
    {% if miFormulario.errors %}

    <p style="color: red;"> Algo salió mal, lo siento.</p>

    {% endif %}

    {% if user.is_authenticated %}
    <form action="" method="POST" class="mx-auto mt-4 p-3 mb-4" style="width: 90%; max-width: 600px; padding: 20px; background-color: #556; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);">
        {% csrf_token %}
        <table class="table table-borderless" style="">
        <tr>
            <th class="text-white">Contenido</th>
            <td>{{ formulario.contenido }}</td>
        </tr>
        </table>
        <div class="text-center">
            <button type="submit" class="btn btn-light">Enviar</button>
        </div>
    </form>
    {% else %}
    <div class="container mt-4">
    <h5 class="text-white">Debes iniciar sesión para crear una publicación.</h5>
    <a href="{% url 'login' %}" class="btn btn-light mt-4">Iniciar sesión</a>
    </div>
    {% endif %}
{% endblock %}