{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<h1>Lista de Publicaciones</h1>

<a href="{% url 'AppCoder:crearPublicacion' %}">Crear Publicacion</a>
  {% for publicacion in publicaciones %}
    <li>{{ publicacion.titulo }}</li>
      <p>
        <a href="{% url 'AppCoder:detallePublicacion' publicacion.pk %}">Ver</a>
        <a href="{% url 'AppCoder:editarPublicacion' publicacion.pk %}">Editar</a>
        <a href="{% url 'AppCoder:eliminarPublicacion' publicacion.pk %}">Eliminar</a>
      </p>
  {% endfor %}
  
{% endblock contenidoQueCambia %}